body {background-color: white ;}

*{  margin: 3px; padding: 3px;}

a{color:red;}

li, ul {
 margin: 5px;
 padding: 5px;
 width:10px; height:50px;
 float: left;

}

#ant {border: 2px solid grey;}

#div0 {color:red; width:550px;  margin: 0px; padding: 0px;}

#div1 , #div2, #div3, #div4 {border: 2px solid grey; color:red; width:20rem;}

 
#div6, #div7, #div8, #div9  { color: white ; border: 2px solid grey ; width:13rem;}

#div5 {color: white ; width:550px;  margin: 0px; padding: 0px;}

#a1{color: white ;}
