html {background-color: black;}

body { width: 20rem; height: 30rem;}

h1 {font-size: small;
  text-align: center;
  margin: 35px 0 20px 0 !important;
}



#tithead {color: white; font-size: 30px; width: 20rem;}

#div1 { border: 2px solid blue;
        -webkit-box-shadow: inset 0 0 0 5px rgba(163, 202, 221, 0.536);
        -moz-box-shadow: inset 0 0 0 5px rgba(163, 219, 219, 0.536);
        box-shadow: inset 0 0 0 5px rgba(163, 219, 219, 0.536);
        width: 2.5rem;
        height: 4rem;
      }

#lb1 , #lb2 , #lb3 , #lb4 { margin-top : 30px;  padding-top: 100px; color: white; margin-left: 10rem;}

#Form1 { width: 15rem;}

#imgerror {  max-width: 70%; max-height: 70%;}

#accesar {font-family:'Times New Roman', Times, serif;
           font-size: 20px;
           background-color: aqua;
         }    

            

.par1 {color: #A901DB;font-size: 20px;}

.usuario , .contraseña , .mail {border-radius: 100px;
                        border-color:blue;
                        min-height:30px; /*esto es el alto */
                        font-size: 30px;
                        width: 40rem; /*esto es el ancho */
                        border-top-width: 1px;
                        border-right-width: 1px;
                        border-bottom-width: 1px;
                        border-left-width: 2px;
                        color:blue;
                        margin: 10px 0px 0px 0px ;
                 
                    }


.usuario:hover , .contraseña:hover , .mail:hover {border-radius: 5px;
                                    border-top-left-radius: 1px;
                                    border-color:#A901DB;
                                    color:blue;
                                    background-color: aqua;
                                   }
.usuario:focus , .contraseña:focus, .mail:focus {border-radius: 5px; 
                                    border-color:#A901DB;
                                   }
#intNueva, #salir { background-color: red ;}

